<link rel="stylesheet" href="/ADMIN/components/sidebar.css" />

<nav class="sidebar" role="navigation" aria-label="Main Sidebar Navigation">
  <div class="sidebar-logo">Main Menu</div>

  <ul class="sidebar-links">
    <li>
      <a href="/ADMIN/dashboard/dashboard.html">
        <i class="bi bi-house-door-fill"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/ADMIN/feedbacks/feedbacks.html">
        <i class="bi bi-chat-dots-fill"></i>
        <span>Feedbacks and Reports</span>
      </a>
    </li>

    <li>
      <a href="/ADMIN/profile/profile.html">
        <i class="bi bi-house-door-fill text-center"></i>
        <span>Profile Management</span>
      </a>
    </li> 
    <!-- User Management Dropdown -->
 <li>
        <a href="/ADMIN/access/user_management.html">
          <i class="bi bi-shield-lock-fill"></i>
          <span>User Management</span>
        </a>
      </li>

      <li>
        <a href="/ADMIN/access/admin_management.html">
          <i class="bi bi-person-badge-fill"></i>
          <span>Teacher Management</span>
        </a>
      </li>

      <li>
        <a href="/ADMIN/access/it_management.html">
          <i class="bi bi-tools"></i>
          <span>Admin Management</span>
        </a>
      </li>
  </ul> 

   

  <div class="sidebar-footer p-3">
    <a href="#" class="logout-btn" onclick="logoutUser()">Logout</a>

  </div>
</nav>

